@charset "UTF-8";
body {
  background-color: #fff;
  list-style: none;
}
body img {
  width: 100%;
  object-fit: cover;
}
body h1 {
  font-size: 7.2rem;
  line-height: 1.1944444444;
  letter-spacing: 0em;
  font-family: "Montserrat", sans-serif;
}
body h2 {
  font-size: 3.2rem;
  line-height: 2.9375;
  letter-spacing: 0.068em;
  font-family: "Montserrat", sans-serif;
}
body h3 {
  font-size: 3.2rem;
  line-height: 1.21875;
  letter-spacing: 0.068em;
}
body h4 {
  font-size: 2rem;
  line-height: 4.3;
  letter-spacing: 0em;
}
body p {
  font-size: 1.6rem;
  line-height: 2;
  letter-spacing: 0em;
}
body dt {
  font-size: 1rem;
  line-height: 0.7;
  letter-spacing: 0.015em;
}
body dd {
  font-size: 1.4rem;
  line-height: 2.6;
  letter-spacing: 0.004em;
}

html {
  font-size: 62.5% !important;
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after {
  content: "";
  content: none;
}

q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colors to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colors to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border color to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

* {
  list-style-type: none;
  text-decoration: none;
}

.f-wrapper {
  max-width: 1100px;
  margin: 0 auto;
}

.l-footer {
  width: 100%;
  background-color: #525252;
  padding: 10px 0;
}
.l-footer p {
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  text-align: center;
  line-height: 3.2;
  letter-spacing: 0.15;
}

.l-header__inner {
  display: flex;
  justify-content: space-between;
  width: 93%;
  height: 50px;
  padding: 23px 3%;
  position: absolute;
  z-index: 99;
}
@media (max-width: 768px) {
  .l-header__inner {
    padding: 40px 3%;
  }
}
.l-header__inner img {
  width: 74%;
}
.l-header__inner__left {
  width: 260px;
  padding-left: 20px;
}
.l-header__inner__right {
  display: flex;
}
.l-header__inner__right-p {
  color: #fff;
  margin-left: 97px;
  font-size: 0.5rem;
  line-height: 1;
}

.is-fixed {
  position: fixed;
  background-color: #282f35;
  height: 80px;
  width: 100%;
  transition: 0.3s;
  z-index: 99;
}

.p-article__aboutus {
  margin-top: 96px;
  padding: 113px 0;
  background-image: url(../../画像/img/skyline-1.png);
  background-size: cover;
  background-position: center 0;
}
.p-article__aboutus::after {
  content: "";
  left: 0;
  width: 100vw;
  height: 160px;
  display: block;
  background-color: #f0f0f0;
  position: absolute;
  z-index: -1;
}
.p-article__aboutus-box {
  background-color: #fff;
  height: 387px;
  max-width: 590px;
  margin-left: 50px;
}
.p-article__aboutus-box h2 {
  padding-top: 19px;
  padding-left: 30px;
}
.p-article__aboutus-box p {
  padding-left: 30px;
  font-family: "Noto Sans JP", sans-serif;
  width: 90%;
}
.p-article__aboutus-box button {
  margin: 30px 0 30px 30px;
}
.p-article__2colum {
  padding-bottom: 56px;
}
.p-article__2colum p {
  margin-top: 17px;
  margin-bottom: 3px;
}
.p-article__2colum-left, .p-article__2colum-right {
  width: 47%;
}
.p-article__2colum-left button, .p-article__2colum-right button {
  margin-top: 22px;
}
.p-article__2colum-right {
  margin-left: 6%;
  width: 50%;
}
.p-article__2colum-bg {
  padding-top: 20px;
  background-color: #f0f0f0;
}
.p-article__2colum img {
  height: 350px;
}
.p-article__2colum2 {
  padding-bottom: 110px;
}
.p-article__2colum2-left {
  width: 40%;
}
.p-article__2colum2-left h2 {
  margin-top: 70px;
}
.p-article__2colum2-left p {
  margin-top: 0px;
}
.p-article__2colum2-left button {
  margin-top: 17px;
}
.p-article__2colum2-right {
  width: 50%;
  margin-left: 8%;
}
.p-article__2colum2-right img {
  margin-top: 38px;
  height: 384px;
}
.p-article__2colum2-bg {
  margin-top: 58px;
  background-color: #f0f0f0;
}
.p-article__2colum, .p-article__2colum2 {
  display: flex;
  padding-top: 34px;
}
.p-article__latest-box {
  margin-top: 32px;
}
.p-article__latest-box dl {
  width: 700px;
  margin-left: inherit;
}
.p-article__latest-box dt {
  margin-top: 10px;
}
.p-article__latest-box dt:nth-of-type(2), .p-article__latest-box dt:nth-of-type(3) {
  margin-top: 36px;
}
.p-article__latest-box dd {
  border-bottom: 1px solid #dddddd;
}
.p-article__latest-box button {
  margin-left: inherit;
  margin-top: 35px;
}

.no_scroll {
  overflow: hidden;
}

.p-mask {
  display: none;
}

.open1 {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.9;
  z-index: 10;
  cursor: pointer;
  overflow-y: hidden;
}

.p-nav-wrapper {
  display: flex;
  position: absolute;
  padding: 28px 5.5% 0 0;
  top: 0;
  right: 0;
}
.p-nav-list {
  display: none;
}
@media (max-width: 768px) {
  .p-nav-list {
    position: fixed;
    top: 0;
    left: -300px;
    width: 300px;
    color: #fff;
    padding: 317px 150px;
    transition: all 0.5s;
    z-index: 20;
    opacity: 0;
  }
}
.p-nav-list-item1 {
  margin-right: 34px;
  z-index: 20;
}
@media (max-width: 768px) {
  .p-nav-list-item1 {
    margin-top: 30px;
  }
  .p-nav-list-item1:nth-of-type(1) {
    margin-top: 0;
  }
}
.p-nav-list-item1 a {
  color: #fff;
}

.open {
  left: 0;
  opacity: 1;
  flex-direction: column;
  display: flex;
}

.p-sns {
  display: flex;
}
@media (max-width: 768px) {
  .p-sns {
    margin-top: 44px;
    margin-left: 39px;
  }
}
@media (max-width: 768px) {
  .p-sns {
    margin-left: 0px;
  }
}
.p-sns > :nth-child(1) {
  margin-right: 20px;
}
.p-sns > :nth-child(2) {
  margin-right: 27px;
}

.p-fv {
  height: 760px;
}
.p-fv__wrapper {
  height: 84%;
  width: 76.4%;
  background-image: url(../../画像/img/the-honest-company-uM-WXMr-1.png);
  background-size: cover;
  background-position: center 0;
}
.p-fv::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #222;
  width: 54%;
  height: 748px;
  z-index: -1;
}
.p-fv__tex {
  position: absolute;
  top: 280px;
  right: 23.5%;
  transform: translate(50%, -50%);
  color: #fff;
}
.p-fv__p1 {
  margin-top: 66px;
  font-size: 20px;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: bold;
  line-height: 1.25;
  color: #fff;
}
.p-fv__p2 {
  font-size: 20px;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: bold;
  line-height: 1.25;
  margin-bottom: 10px;
}

.p-top {
  height: 450px;
  position: relative;
}
@media (max-width: 768px) {
  .p-top {
    height: 360px;
  }
}
.p-top img {
  position: absolute;
  width: 100%;
  height: 100%;
}
.p-top h1 {
  font-style: italic;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 768px) {
  .p-top h1 {
    top: 54%;
  }
}

#c-form {
  width: 100%;
  height: 25px;
}
#c-form-content {
  width: 100%;
  height: 170px;
}
#c-form_check {
  font-size: 14px;
  margin-right: 7px;
}
#c-form_check2 {
  margin-left: 17px;
  margin-right: 7px;
  margin-left: 0;
}
@media (max-width: 768px) {
  #c-form_check2 {
    margin-left: 0;
    margin-right: 9px;
  }
}
#c-form_check3 {
  margin-left: 26px;
  margin-right: 7px;
}
@media (max-width: 768px) {
  #c-form_check3 {
    margin-left: 0;
    margin-right: 9px;
  }
}

.c-form__input {
  margin: 0px auto;
  margin-top: 100px;
  max-width: 700px;
  padding-right: 11px;
}
@media (max-width: 768px) {
  .c-form__input {
    margin-left: 10px;
  }
}
.c-form__name {
  margin-top: 30px;
}
.c-form__phone {
  margin-top: 21px;
}
@media (max-width: 768px) {
  .c-form__phone {
    margin-top: 22px;
  }
}
.c-form__email {
  margin-top: 20px;
}
@media (max-width: 768px) {
  .c-form__email {
    margin-top: 22px;
  }
}
.c-form__content {
  margin-top: 19px;
  margin-bottom: 30px;
}
@media (max-width: 768px) {
  .c-form__content {
    margin-top: 19px;
  }
}
.c-form__button {
  text-align: center;
  background-color: #f7d43f;
  padding: 11px 0px;
  border-radius: 35px;
  margin: 0 auto;
  border: none;
  font-size: 19px;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: bold;
}
.c-form__check {
  line-height: 1;
}
@media (max-width: 768px) {
  .c-form__check {
    display: flex;
    flex-direction: column;
    line-height: 0.5;
  }
}

.c-button {
  color: #fff;
  background-color: #000;
  width: 160px;
  line-height: 31px;
  font-size: 1.2rem;
  display: block;
  text-align: center;
  font-weight: bold;
}

#c-BTN1.active {
  transform: rotate(360deg);
  transition: all 0.9s;
  margin-top: 0px;
  z-index: 99;
}
#c-BTN1.active span:nth-of-type(1) {
  top: 3px;
  transform: translateY(15px) rotate(-45deg);
  background-color: #fff;
}
#c-BTN1.active span:nth-of-type(2) {
  display: none;
}
#c-BTN1.active span:nth-of-type(3) {
  top: 33px;
  transform: translateY(-15px) rotate(45deg);
  background-color: #fff;
}

.c-ham-btn {
  color: #fff;
  position: absolute;
  width: 85px;
  height: 50px;
  z-index: 98;
  cursor: pointer;
  top: 38%;
  right: 5%;
  padding: 0 17px 0 0;
}
@media (max-width: 768px) {
  .c-ham-btn {
    display: flex;
  }
}
.c-ham-btn span {
  position: absolute;
  left: 66px;
  width: 25px;
  height: 2px;
  transition: all 0.4s;
  background-color: #fff;
}
.c-ham-btn span:nth-of-type(2) {
  top: 4.5px;
}
.c-ham-btn span:nth-of-type(3) {
  top: 9px;
}

.c-gmap {
  width: 75% !important;
  height: 300px;
  margin-bottom: 45px;
}
@media (max-width: 768px) {
  .c-gmap {
    width: 100% !important;
    padding: 10px 0px 0 3px;
    border-bottom: none;
    margin-bottom: 26px;
  }
}

.c-pagenation {
  justify-content: center;
  display: flex;
  margin: -5px;
}
.c-pagenation li {
  padding: 0 20px;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0em;
}

@media (max-width: 768px) {
  .u-mg-1 {
    margin-left: 15px;
    margin-top: 111px;
    padding-left: 0px !important;
  }
}
.u-mg-2 {
  margin-left: 20px;
  margin-top: 410px;
}
@media (max-width: 768px) {
  .u-mg-3 {
    margin-top: 80px;
    margin-bottom: 0;
  }
}
.u-mg-4 {
  margin-top: 110px;
  margin-left: 30px;
  margin-bottom: 123px;
}
@media (max-width: 768px) {
  .u-mg-4 {
    margin-bottom: 0;
  }
}
.u-mg-5 {
  margin-top: 90px;
  padding-top: 0;
}

.slick-next {
  right: 0px !important;
}

.u-pd {
  padding: 25px 0 92px 118px;
}
@media (max-width: 768px) {
  .u-pd {
    padding: 63px 0 66px 16px;
  }
}/*# sourceMappingURL=style.css.map */