@use "../global" as *;

.l-header {
  &__inner {
    display: flex;
    justify-content: space-between;
    width: 95%;
    height: 50px;
    padding: 23px 30px;
    position: absolute;
    z-index: 99;
    @include tab {
      padding: 40px 3%;
    }
    position: absolute;
    z-index: 99;
    &__left {
      width: 260px;
      padding-left: 20px;
    }
    &__right {
      display: flex;
      &-p {
        color: $white;
        line-height: 3;
        font-size: 0.5rem;
        margin-right: 17px;
        margin-top: 5px;
      }
    }
  }
}
.is-fixed {
  position: fixed;
  background-color: #282f35;
  height: 80px;
  width: 100%;
  transition: 0.3s;
  z-index: 99;
}
