@use "../global" as *;

.l-header {
  &__inner {
    display: flex;
    justify-content: space-between;
    width: 86%;
    height: 50px;
    padding: 30px 5% 30px 8%;
    @include tab {
      padding: 40px 3%;
    }
    position: absolute;
    z-index: 99;
  }
}
.is-fixed {
  position: fixed;
  background-color: #282f35;
  height: 80px;
  width: 100%;
  transition: 0.3s;
  z-index: 99;
}
