@use "../global" as *;

.c-gmap {
  width: 100% !important;
  height: 360px;

  margin-top: 37px;
  @include tab {
    width: 100% !important;
    padding: 10px 0px 0 3px;
    border-bottom: none;
    margin-bottom: 26px;
  }
}
