@use "../global" as *;

.p-article {
  &__form {
    margin-top: 70px;
    p {
      line-height: 1.7;
      font-size: 1.27rem;
    }
    label {
      margin-top: 3px;
    }
  }
  &__company {
    margin-bottom: 115px;
    h2 {
      border-bottom: 1px solid #333333;
    }
    dl {
      display: flex;
      width: 73%;
      flex-wrap: wrap;
      margin: 0 0 0 auto;
    }
    dt {
      width: 18%;
      border-bottom: 1px solid #333333;
    }
    dd {
      width: 82%;
      border-bottom: 1px solid #333333;
    }
  }
  &__vision {
    margin: 0 auto;
    margin-top: 60px;
    width: 45%;
    h3 {
      font-size: 2.4rem;
      font-family: $ff2;
      letter-spacing: 0em;
    }
    p {
      margin-top: 22px;
    }
  }
  &__ceo {
    height: 994px;
    margin-top: 129px;
    position: relative;
    &-message {
      position: absolute;
      background-color: #f0f0f0;
      width: 70%;
      right: 0;
      margin-top: 13%;

      h2 {
        margin-top: 89px;
        margin-left: 24%;
      }

      p {
        margin-left: 24%;
        margin-right: 23%;
        margin-bottom: 91px;
      }
    }
    img {
      position: absolute;
      width: 38%;

      z-index: 2;
      object-fit: none;
      object-position: 46% 58%;
      zoom: 62%;
    }
  }

  &__aboutus {
    margin-top: 96px;
    padding: 113px 0;
    background-image: url(../../画像/img/skyline-1.png);
    background-size: cover;
    background-position: center 0;
    &::after {
      content: "";
      left: 0;
      width: 100vw;
      height: 160px;
      display: block;
      background-color: #f0f0f0;
      position: absolute;
      z-index: -1;
    }
    &-box {
      background-color: $white;
      height: 387px;
      max-width: 590px;
      margin-left: 50px;
      h2 {
        padding-top: 19px;
        padding-left: 30px;
      }
      p {
        padding-left: 30px;
        font-family: $ff2;
        width: 90%;
      }
      button {
        margin: 30px 0 30px 30px;
      }
    }
  }
  &__2colum {
    padding-bottom: 56px;
    p {
      margin-top: 17px;
      margin-bottom: 3px;
    }
    &-left,
    &-right {
      width: 47%;
      button {
        margin-top: 22px;
      }
    }

    &-right {
      margin-left: 6%;
      width: 50%;
    }
    &-bg {
      padding-top: 20px;
      background-color: #f0f0f0;
    }
    img {
      height: 350px;
    }
    &2 {
      padding-bottom: 110px;
      &-left {
        width: 40%;
        h2 {
          margin-top: 70px;
        }
        p {
          margin-top: 0px;
        }
        button {
          margin-top: 17px;
        }
      }
      &-right {
        width: 50%;
        margin-left: 8%;
        img {
          margin-top: 38px;

          height: 384px;
        }
      }
      &-bg {
        margin-top: 58px;
        background-color: #f0f0f0;
      }
    }
  }
  &__2colum,
  &__2colum2 {
    display: flex;
    padding-top: 34px;
  }
  &__latest {
    &-box {
      margin-top: 32px;
      dl {
        width: 700px;
        margin-left: inherit;
      }
      dt {
        margin-top: 10px;
        &:nth-of-type(2),
        &:nth-of-type(3) {
          margin-top: 36px;
        }
      }
      dd {
        border-bottom: 1px solid #dddddd;
      }
      button {
        margin-left: inherit;
        margin-top: 35px;
      }
    }
  }
}
