@use "../global" as *;

.p-fv {
  height: 100vh;
  &__wrapper {
    height: 51%;
    width: 76.4%;
    background-image: url(../../画像/img/the-honest-company-uM-WXMr-1.png);
    background-size: cover;
    background-position: center 0;
  }
  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #222;
    width: 54%;
    height: 59%;
    z-index: -1;
  }

  &__a {
    width: 76%;
    height: 640px;
    z-index: 2;
  }
  &__b {
    max-width: 780px;
    right: 0;
    height: 735px;
    z-index: 1;
  }
  &__tex {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(50%, -50%);
    color: #fff;
  }
  &__p1 {
    font-size: 20px;
    font-family: $ff2;
    font-weight: bold;
    line-height: 1.25;
    color: $white;
  }
  &__p2 {
    font-size: 20px;
    font-family: $ff2;
    font-weight: bold;
    line-height: 1.25;
    margin-bottom: 10px;
  }
}
