@use "../global" as *;

.p-fv {
  height: 760px;
  &__wrapper {
    height: 84%;
    width: 76.4%;
    background-image: url(../../画像/img/the-honest-company-uM-WXMr-1.png);
    background-size: cover;
    background-position: center 0;
  }
  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #222;
    width: 54%;
    height: 748px;
    z-index: -1;
  }
  &__tex {
    position: absolute;
    top: 280px;
    right: 23.5%;
    transform: translate(50%, -50%);
    color: #fff;
  }
  &__p1 {
    margin-top: 66px;
    font-size: 20px;
    font-family: $ff2;
    font-weight: bold;
    line-height: 1.25;
    color: $white;
  }
  &__p2 {
    font-size: 20px;
    font-family: $ff2;
    font-weight: bold;
    line-height: 1.25;
    margin-bottom: 10px;
  }
}
