@mixin f_style1($pixels, $weight: false, $height: false, $spacing: false) {
  font-size: $pixels * 1px;

  @if $weight {
    font-weight: $weight;
  }

  @if $height {
    line-height: calc($height / $pixels);
  }

  @if $spacing {
    letter-spacing: calc($spacing / 1000) * 1em;
  }
}

@mixin f_style2($pixels, $weight: false, $height: false, $spacing: false) {
  font-size: $pixels * 1rem;

  @if $weight {
    font-weight: $weight;
  }

  @if $height {
    line-height: calc($height / $pixels);
  }

  @if $spacing {
    letter-spacing: calc($spacing / 1000) * 1em;
  }
}
